.tilt {
    grid-area: tilt;
}

.one {
    grid-area: one;
}

.two {
   grid-area: two; 
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.backspace {
    grid-area: backspace;
}
.tab {
    grid-area: tab;
}

.q {
    grid-area: q;
}

.w {
    grid-area: w;
}

.e {
    grid-area: e;
}

.r {
    grid-area: r;
}

.t {
    grid-area: t;
}

.y {
    grid-area: y;
}

.u {
    grid-area: u;
}

.i {
    grid-area: i;
}

.o {
    grid-area: o;
}

.p {
    grid-area: p;
}

.brackL {
    grid-area: brackL;
}

.brackR {
    grid-area: brackR;
}

.slash {
    grid-area: slash;
}

.del {
    grid-area: del;
}

.capsLook {
    grid-area: capsLook; 
}

.a {
    grid-area: a;
}

.s {
    grid-area: s;
}

.d {
    grid-area: d;
}

.f {
    grid-area: f;
}

.g {
    grid-area: g;
}

.h {
    grid-area: h;
}

.j {
    grid-area: j;
}

.k {
    grid-area: k;
}

.l {
    grid-area: l;
}

.dashComma {
    grid-area: dashComma;
}

.upperComma {
    grid-area: upperComma;
}

.enter {
    grid-area: enter;
}

.shiftL {
    grid-area: shiftL;
}

.leftSlash {
    grid-area: leftSlash;
}

.z {
    grid-area: z;
}

.x {
    grid-area: x;
}

.c {
    grid-area: c;
}

.v {
    grid-area: v;
}


.b {
    grid-area: b;
}

.n {
    grid-area: n;
}

.m {
    grid-area: m;
}

.dash {
    grid-area: dash;
}

.comma {
    grid-area: comma;
}

.rightSlash {
    grid-area: rightSlash;
}

.keyUp {
    grid-area: keyUp;
}

.shiftR {
    grid-area: shiftR;
}

.ctrlL {
    grid-area: ctrlL;
}

.win {
    grid-area: win;
}

.altL {
    grid-area: altL;
}

.space {
    grid-area: space;
}

.altR {
    grid-area: altR;
}

.ctrlR {
    grid-area: ctrlR;
}

.keyDown {
    grid-area: keyDown;
}

.keyleft {
    grid-area: keyleft;
}

.keyRight {
    grid-area: keyRight;
}