*{
    margin: 0;
    padding: 0;
}
/*Должно быть пятнадцать!!!!!*/
.keyboard {

    border: 2px solid black;

    width: 700px;
    height: 250px;
    margin: 0 auto;
    margin-top: 40px;/*!!!!*/
    text-align: center;

    display: grid;
    grid-template-areas: 
    "tilt one two three four five six seven eight nine zero minus plus backspace backspace"
    "tab q w e r t y u i o p brackL brackR slash del"
    "capsLook capsLook a s d f g h j k l dashComma upperComma enter enter"
    "shiftL shiftL leftSlash z x c v b n m dash comma rightSlash keyUp shiftR"
    "ctrlL win altL space space space space space space space altR ctrlR keyleft keyDown keyRight"
    ;

    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(5, auto);
    gap: 10px;
}

.keyboard__cell {
    outline: 1px solid red;

    padding: 5px;
    padding-top: 10px;
}

.keyboard__cell:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .keyboard {
        width: 100%;
    }
}
